/* ###################### navbar styling #################################### */


#navbar{

    padding: 0% 2.5% 0% 2.5%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: white;
}

/* #navbar-part{

  width: 100%;
  height: auto;
  border: 2px solid red;
  position: relative;


} */

#first-part{

  display: flex;
  width: 63%;
  justify-content: space-between;

}

#logo-image{

  width: 100px;
  /* height: 45px; */
  margin-top: 7px;

}

#why-gusto{

  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  font-size: 17px;
  font-family: 'centra_no2book';
  font-weight: 400;

}

#why-gusto:hover{

  color: rgb(29, 165, 154);

}

#first-part h4{

  font-family: 'centra_no2book';
  font-weight: 400;
  font-size: 17px;
  

}

#payroll{

  display: flex;
  height: 50px;
  width: 160px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  

}

#payroll-part{

  display: none;
  position: absolute;
  height: 380px;
  width: 550px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  left: -40%;
  top: 110%;
  cursor: pointer;
  border-radius: 5px;
  z-index: 3;

}

#payroll:hover #payroll-part{

  display: block;

}

#payroll-part-first{

  width: 100%;
  height: 325px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 25px 25px 15px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

}


#payroll-part-second{

  width: 100%;
  height: 55px;
  display: flex;


}

#see-demo{

  width: 50%;
  height: 100%;
  background-color: rgb(241, 237, 237);
  border-right: 1px solid rgb(194, 192, 192);
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'centra_no2book';
  font-size: 15px;
  font-weight: 400;
  color: rgb(29, 165, 154);
  cursor: pointer;
}

#integrations{

  width: 50%;
  height: 100%;
  background-color: rgb(241, 237, 237);
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'centra_no2book';
  font-size: 15px;
  font-weight: 400;
  color: rgb(29, 165, 154);
  cursor: pointer;


}

/* ################# payroll-box utility class ###################################### */

#box5, #box6{

  border-bottom: none;

}
.payroll-box{

  width: 48%;
  border-bottom: 1px solid rgb(194, 192, 192);
  height: 90px;
  cursor: pointer;

}



.payroll-box>h5{

  color: rgb(29, 165, 154);
  font-family: 'centra_no2book';
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;

}

.payroll-box>p{

  font-family: 'centra_no2book';
  font-size: 15px;
  font-weight: 400;

}


.payroll-box>h5>a{

  color: rgb(29, 165, 154);
  font-family: 'centra_no2book';
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  text-decoration: none;

}

/* ################################################################################# */


#pricing{
  display: block;
}



#pricing>a{

  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: 'centra_no2book';
  font-weight: 400;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#pricing>a:hover{
  color: rgb(29, 165, 154);

}

#accountant{

  display: flex;
  height: 50px;
  width: 155px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}

#accountant-part{

  display: none;
  position: absolute;
  height: 340px;
  width: 520px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  left: -35%;
  top: 110%;
  cursor: pointer;
  border-radius: 5px;
  z-index: 3;
}

#accountant:hover #accountant-part{

  display: block;

}

#accountant-part-first{

  width: 100%;
  height: 100%;
  padding: 25px 22px 18px 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

}

/* ############################# accountant-part-first utility class ######################### */

#accountant-part-box5{

border-bottom: none;
width: 45%;

}


#accountant-part-box6{

  border-bottom: none;

}


.accountant-box{

  width: 47.5%;
  border-bottom: 1px solid rgb(194, 192, 192);
  height: 90px;
  cursor: pointer;

}



.accountant-box>h5{

  color: rgb(29, 165, 154);
  font-family: 'centra_no2book';
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;

}


.accountant-box>h5>a{

  color: rgb(29, 165, 154);
  font-family: 'centra_no2book';
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  text-decoration: none;

}

.accountant-box>p{

  font-family: 'centra_no2book';
  font-size: 15px;
  font-weight: 400;


}


/* ######################################################################################################## */

#built{

  display: flex;
  height: 50px;
  width: 120px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}


#built-part{

  display: none;
  position: absolute;
  height: 230px;
  width: 280px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  left: -20%;
  top: 110%;
  cursor: pointer;
  border-radius: 5px;
  z-index: 3;

}

#built:hover #built-part{
  display: block;
}


#built-part-first{

  width: 100%;
  height: 100%;
  padding: 25px 20px 15px 20px;

}

/* ################################### built-part utility class ################################ */

#built-part-box2{

  border-bottom: none;
  margin-top: 15px;

}

.built-box{

  width: 100%;
  height: 90px;
  border-bottom: 1px solid rgb(194, 192, 192);
  cursor: pointer;

}

.built-box>h5{

  color: rgb(29, 165, 154);
  font-family: 'centra_no2book';
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;

}

.built-box>p{

  font-family: 'centra_no2book';
  font-size: 15px;
  font-weight: 400;

}



/* ############################################################################################ */

#second-part{

  display: flex;
  width: 28%;
  justify-content: space-between;

}

#search{

  width: 80px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

}




#search-icon{

  color: rgb(29, 165, 154);

}

#search-button{

  outline: none;
  background-color: white;
  color: black;
  font-size: 15px;
  border: none;
  font-family: 'centra_no2book';
  font-weight: 400;
  cursor: pointer;

}

#sign-in{

  text-decoration: none;
  color: black;
  width: 80px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(253, 248, 241);
  font-family: 'centra_no2book';
  font-weight: 500;
  font-size: 15px;

}

#sign-in:hover{

  color: rgb(29, 165, 154);
  transition: all 0.3s ease-in-out;


}


#create-account{

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: rgb(242, 95, 95);
  width: 160px;
  height: 45px;
  border-radius: 5px;
  font-family: 'centra_no2book';
  font-weight: 400;
  font-size: 15px;

}

#create-account:hover{

  background-color: rgb(247, 71, 71);
  transition: all 0.3s ease-in-out;


}







/* ####################### footer styling ########################################## */

#footer{

    width: 100%;
    height: auto;
    background-color: #ffffff;


}

#footer-head{

    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;


}

#footer-head>h1{

    font-family: 'clearfacebold';
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5%;

}

#footer-head>p>a{

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 47px;
    color: white;
    background-color: #F45D48;
    font-family: 'centra_no2book';
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    margin: auto;

}

#footer-head>p>a:hover{

    background-color: #ec3d26;
    transition: all 0.3s ease-in-out;

}


#footer-second-div{

    width: 90%;
    height: auto;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;    
    font-family: 'centra_no2book';

    

}

#footer-second-div>div{

    width: 23%;
    height: auto;


}

#footer-second-div>div h4{

    font-size: 17px;
    font-weight: 600;
    margin-bottom: 7%;

}

#footer-second-div>div p{

    font-size: 17px;
    font-weight: 400;
    color: rgb(96, 96, 96);
    margin-bottom: 7%;
    

}

#footer-second-div>div p:hover{
    cursor: pointer;
    color: rgb(29, 165, 154);
    transition: all 0.1s ease-in-out;
}

#footer-second-div>div:nth-child(1)>div{

    margin-bottom: 12%;

}

#footer-second-div>div:nth-child(2)>div{

    margin-bottom: 12%;


}

#footer-second-div>div:nth-child(3)>div{

    margin-bottom: 12%;


}

#footer-second-div>div:nth-child(4)>div{

    margin-bottom: 12%;


}

#footer-third-div{

    width: 85%;
    margin-left: 50px;
    margin-top: 2%;
    margin-bottom: 4%;
    font-family: 'centra_no2book';



}

#footer-third-div>h4{

    margin-bottom: 3%;
    font-weight: 400;
    font-size: 18px;

}

#footer-third-div>h4>span{

    font-weight: 600;

}

#footer-thirdpart-div{

    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

}

#footer-thirdpart-div>div{

    width: 22%;
    height: auto;

}

#footer-thirdpart-div>div:nth-child(1){

    cursor: pointer;
}
#footer-thirdpart-div>div:nth-child(1) h4{

    font-weight: bold;
    font-size: 17px;
    margin-bottom: 4%;
    color: rgb(29, 165, 154);
    

}

#footer-thirdpart-div>div:nth-child(1):hover>h4{

    color: rgb(98, 222, 211);
    

}

#footer-thirdpart-div>div:nth-child(1) p{

    font-size: 16px;
    color: rgb(96, 96, 96);
    line-height: 20px;

}

#footer-thirdpart-div>div:nth-child(2)>p, #footer-thirdpart-div>div:nth-child(3)>p, #footer-thirdpart-div>div:nth-child(4)>p{

    font-size: 18px;
    color: rgb(96, 96, 96);
    margin-bottom: 7%;
    cursor: pointer;

}

#footer-thirdpart-div>div:nth-child(2)>p:hover, #footer-thirdpart-div>div:nth-child(3)>p:hover, #footer-thirdpart-div>div:nth-child(4)>p:hover{

    color: rgb(29, 165, 154);
    transition: all 0.1s ease-in-out;


}


#footer-fourth-div{

    width: 55%;
    height: auto;
    margin-left: 50px;
    font-family: 'centra_no2book';
    margin-bottom: 5%;
    
}

#footer-fourth-div>div{
    display: flex;
    justify-content: space-between;

}

#footer-fourth-div>div>div:nth-child(1){

    width: 65%;
    height: auto;
    display: flex;
    justify-content: space-between;

}

#footer-fourth-div>div>div:nth-child(1) h4{

    font-size: 16px;
    font-weight: 400;

}

#footer-fourth-div>div>div:nth-child(1) p{

    color: rgb(96, 96, 96);
    cursor: pointer;
    font-size: 15px;

}

#footer-fourth-div>div>div:nth-child(2){

    width: 30%;
    height: auto;
    display: flex;
    justify-content: space-around;

}

.footer-icons{

    color: rgb(96, 96, 96);

}

.footer-icons:hover{

    color: rgb(29, 165, 154);
    cursor: pointer;
    transition: all 0.1s ease-in-out;

}