/* upper part */

#main_box{
    border:1px solid red;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#main_box>#text{
    border:1px solid blue;
}
#main_box>#video{
    border:1px solid green;
}
#main_box>#text>div>p{
    color:red;
    font-size: 19px;
}

#main_box>#text>div>h1{
    font-size: 45px;
}

#main_box>#text>button{
    border:1px solid red;
    background-color: red;
    width:150px;
    height: 50px;
    border-radius: 10px;
}
#main_box>#text>button>a{
    color:white;
    text-decoration: none;
}

#images{
    border:1px solid white;
    background-color: bisque;
}
#images>#ig{
    margin-top: 100px;
    /* border:1px solid red; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width:70%;
    margin-left: 200px;
    text-align: center;
    margin-bottom: 100px;
}

#images>#ig>.image>img{
    width:20%;
}
#images>#ig>.image>div>p{
    font-size: 19px;
    font-weight: bolder;
}

/* below middle part  */

#works{
    /* border:1px solid red; */
    text-align: center;
    margin-top: 50px;
}

#works>#write>p{
      color:red;
      font-size: 19px;
}

#works>div>h1{
    font-size: 45px;
}

#works>div>p{
    font-size: 19px;
}
#works>#video2{
    margin-top: 40px;
    /* border:2px solid purple; */
}
#works>#video2>#video_box>video{
    width:80%;
}


/* Image and div part */

#number{
    margin-top: 60px;
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#number>div{
    /* border:1px solid red; */
    text-align: center;
}

#number>div>.one{
    font-size: 50px;
    color:teal;
}

#number>div>.two{
    margin-top: 30px;
    /* border: 1px solid red; */
    width:500px;
    color:gray;
}

#data{
    margin-top: 100px;
    /* border:1px solid red; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}


#data>#image>img{
    width:100%;
    height: 650px;
}
#data>#text{
    margin-left: 100px;
}
#data>#text>#name>p{
    color:red;
    font-size: 19px;
}
#data>#text>#tit>h1{
    font-size: 45px;
}
#data>#text>.content>p:nth-child(1){
    font-size: 19px;
    font-weight: bold;
}
#data>#text>.content>p:nth-child(2){
    font-size: 19px;
}

#fav{
    /* border:1px solid red; */
    text-align: center;
    background-color: bisque;
    padding-top: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
}
#fav>#pic{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border:1px solid blue; */
    width:50%;
    /* height: 80px; */
    margin-left: 300px;

}



#fav>#pic>#line1>img{
    border-radius:100px;
    width:40%;
}

#fav>#pic>#line2>img{
    height:50px;
}