/* upper part */

h1,h2,h3,h4,h5,h6{
    font-family: 'clearfacebold';
    font-weight: normal;
    font-style: normal;
    color:#222525;
}
p,a{
    font-family: 'centra_no2book';
    font-weight: normal;
    font-style: normal;
}
#main_box{
    /* border:1px solid red; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#main_box>#text{
    /* border:1px solid blue; */
    margin-top: 50px;
}

#main_box>#video>iframe{
    height:600px;
}
#main_box>#text>div>p{
    color:red;
    font-size: 19px;
}

#main_box>#text>div>h1{
    font-size: 45px;
}

#main_box>#text>button{
    border:1px solid red;
    background-color: red;
    width:150px;
    height: 50px;
    border-radius: 10px;
}
#main_box>#text>button>a{
    color:white;
    text-decoration: none;
}

#images{
    border:1px solid white;
    background-color: bisque;
}
#images>#ig{
    margin-top: 100px;
    /* border:1px solid red; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width:70%;
    margin-left: 200px;
    text-align: center;
    margin-bottom: 100px;
}

#images>#ig>.image>img{
    width:20%;
}
#images>#ig>.image>div>p{
    font-size: 19px;
    font-weight: bolder;
}

/* below middle part  */

#works{
    /* border:1px solid red; */
    text-align: center;
    margin-top: 50px;
}

#works>#write>p{
      color:red;
      font-size: 19px;
}

#works>div>h1{
    font-size: 45px;
}

#works>div>p{
    font-size: 19px;
}
#works>#video2{
    margin-top: 40px;
    /* border:2px solid purple; */
}
#works>#video2>#video_box>video{
    width:80%;
}


/* Image and div part */

#number{
    margin-top: 60px;
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#number>div{
    /* border:1px solid red; */
    text-align: center;
}

#number>div>.one{
    font-size: 50px;
    color:teal;
}

#number>div>.two{
    margin-top: 30px;
    /* border: 1px solid red; */
    width:500px;
    color:gray;
}

#data{
    margin-top: 100px;
    /* border:1px solid red; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}


#data>#image>img{
    width:100%;
    height: 650px;
}
#data>#text{
    margin-left: 100px;
}
#data>#text>#name>p{
    color:red;
    font-size: 19px;
}
#data>#text>#tit>h1{
    font-size: 45px;
}
#data>#text>.content>p:nth-child(1){
    font-size: 19px;
    font-weight: bold;
}
#data>#text>.content>p:nth-child(2){
    font-size: 19px;
}

#fav{
    /* border:1px solid red; */
    text-align: center;
    background-color: bisque;
    padding-top: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
}
#fav>#pic{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border:1px solid blue; */
    width:50%;
    /* height: 80px; */
    margin-left: 300px;

}
#fav>#pic>#line1>img{
    border-radius:100px;
    width:40%;
}

#fav>#pic>#line2>img{
    height:50px;
}

#compensation{
    margin-top: 100px;
     /* border:1px solid red; */
     display: grid;
     grid-template-columns:repeat(2,1fr);
}

#compensation>#comp{
    margin-top: 50px;
}
#compensation>#comp>#comp1>p{
    color:red;
    font-size: 19px;
}
#compensation>#comp>#comp2>h1{
    font-size: 40px;
}
#compensation>#comp_img>img{
    width:100%;
}

#want{
    margin-top: 100px;
    padding-top: 30px;
    /* border:1px solid red; */
    text-align: center;
    background-color:bisque;
    padding-bottom: 30px;
}
#want>#want_box1>img{
    width:50px; 
}

#want>#want_box2>h1{
    font-size: 40px;
}
#want>#want_box3{
    width:80%;
    margin: auto;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#want>#want_box3>.want_box>div:nth-child(3){
    color:teal;
}
#want>#want_box3>.want_box>div:nth-child(3):hover{
    text-decoration: underline;
}

#people{
    /* border:1px solid red; */
    background-color: bisque;
    margin-top: 100px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
#people>#people1>p{
    color: orangered;
    font-size: 19px;
}
#people>div>h1{
    font-size: 40px;
}
#people>#people2{
    /* border:1px solid black; */
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width:80%;
    margin:auto;
}
#people>#people2>div{
    margin-top: 30px;
    /* border:1px solid blue; */
}

#people>#people2>div>.pep1>img{
    width:50px;
}
#people>#people2>div>.pep2>p{
    color:#222525
}
#people>#people2>div>.pep2>p:hover{
    color:teal;
    text-decoration: underline;
}

#see{
    /* border:1px solid red; */
    text-align: center;
    margin-top: 200px;
    /* background-color: #f8f5f2; */
    padding-top: 50px;
    padding-bottom: 50px;
    
}
#see>#head{
    margin-bottom: 50px;
}
#see>#head_img{
    margin-top: 100px;
    /* border:1px solid black; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:50%;
    margin: auto;
}

#see>#head_img>#head_img1{
    width:50%;
}
#see>#head_img>#head_img2{
    /* border:1px solid green; */
    display: block;
    text-align: right;
}
#see>#head_img>#head_img2>img{
    width:50%;
}



#frequntlyQues{
    width: 100%;
    /* border: 1px solid red; */
    position: relative;
}

#frequently_asked{
    width: 40%;
    width: 42%;
    margin-left: 8.1%;
    /* border: 1px solid indigo; */
}

#frequently_asked>h2{
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-top: 13.5%;
    margin-top: 12.3%;
}

.ques1{
    display: flex;
    justify-content: space-between;
}


#frequently_asked>.ques1>h3{
    font-size: 1.5rem;
    margin-top: 7.2%;
    margin-bottom: 20px;
    /* font-family: "clearfacebold";
    font-weight: bold; */
}

#frequently_asked>.ques1>span{
    font-size: 2rem;
    margin-top: 38px;
    margin-right: 12px;
    color: #0A8080;
}

#question1>h3:hover,#question2>h3:hover,#question3>h3:hover,#question4>h3:hover{
    cursor: pointer;
    color: #0A8080;
    margin-left:10px;
}

#frequently_asked>p{
    font-size: 18px;
    padding-right: 22px;
    line-height: 24px;
    letter-spacing: .5px;
}

#frequently_asked>p>a{
    color: #0A8080;
}

#answer1, #answer2, #answer3, #answer4{
    display:none;
}


