#shiv_navbar {
    width: 100%;
    height: 75px;
    margin: 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin: -10px -10px 0px -10px;
}

#shiv_navbar>img {
    margin: 20px;
    width: 100px;
    margin-left: 50px;
}

h1 {
    text-align: center;
    font-family: clearfacebold;
    color: #222525;
    font-size: 28px;
}

p {
    text-align: center;
    font-family: centra_no2book;
    color: #222525;
    font-size: 18px;
    margin: 25px;
}

#shiv_container1,
#shiv_container2,
#shiv_container3,
#shiv_container4,
#shiv_container5,
#shiv_container6,
#shiv_container7,
#shiv_container9 {
    width: 35%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px;
}

#shiv_container2,
#shiv_container3,
#shiv_container4,
#shiv_container5,
#shiv_container6,
#shiv_container7,
#shiv_container8 {
    display: none;
}

button {
    width: 97%;
    padding: 20px;
    margin: 8px;
    border-radius: 5px;
    color: white;
    background-color: teal;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(16, 150, 150);
}

#abc {
    font-size: 15px;
    margin: 20px;
}

#shiv_header {
    width: 40%;
    margin: auto;
    line-height: 25px;
    padding: 30px;
}
#shiv_header>h1{
    margin-bottom: -15px;
}
span>a {
    color: teal;
}

span {
    color: teal;
    font-family: centra_no2book;
    margin: 10px;
    cursor: pointer;
}

#bo,
#bn {
    display: flex;
    justify-content: space-between;
}

#shiv_container8 {
    width: 34%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px;
    line-height: 20px;
}

#shiv_container8>button {
    width: 97%;
    padding: 15px;
    margin: 8px;
    border-radius: 5px;
    cursor: pointer;
}

#shiv_container8>button:nth-child(2) {
    color: #222525;
    background-color: whitesmoke;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shiv_container8>button:nth-child(2):hover {
    color: teal;
    background-color: rgb(220, 217, 217);
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shiv_container8>button>img {
    width: 5%;
    margin-right: 5px;
}

#shiv_name,
#shiv_email,
#shiv_company,
#shiv_password,
#shiv_cpassword {
    width: 90%;
    padding: 16px;
    margin: 7px;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

#shiv_employees,
#shiv_phone {
    width: 38%;
    padding: 16px;
    margin: 7px;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

ul {
    font-family: centra_no2book;
    color: #4f5151;
}

#pr {
    font-family: centra_no2book;
    color: #4f5151;
    margin: 30px 0px -10px 10px;
}

#tandm {
    font-size: smaller;
    color: #4f5151;
}

a {
    color: teal;
}

#shiv_submit {
    color: white;
    background-color: #ef523c;
}

#shiv_submit:hover {
    color: white;
    background-color: #f45d48;
}

#shiv_container9 {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#shiv_container9>img {
    width: 25%;
}

#shiv_container9>h1 {
    margin: 40px 0px -15px 0px;
}

#shiv_container9 {
    display: none;
}

::placeholder {
    font-family: centra_no2book;
    font-size: 17px;
}

small {
    font-family: centra_no2book;
    margin-left: 2%;
    color: #ab2b10;;
}

#something {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#something>small {
    width: 50%;
}

a:hover{
    color: rgb(0, 95, 95);
}
u{
    color: teal;
}
u:hover{
    cursor: pointer;
    color: rgb(0, 95, 95);
}
@media all and (min-width:768px) and (max-width:1030px){
    #shiv_container1,
    #shiv_container2,
    #shiv_container3,
    #shiv_container4,
    #shiv_container5,
    #shiv_container6,
    #shiv_container7,
    #shiv_container9 {
        width: 430px;
        margin: auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 30px;
    }
    
    #shiv_container2,
    #shiv_container3,
    #shiv_container4,
    #shiv_container5,
    #shiv_container6,
    #shiv_container7,
    #shiv_container8 {
        display: none;
    }

    #shiv_header {
        width: 500px;
        margin: auto;
        line-height: 25px;
        padding: 30px;
    }
    #shiv_header>h1{
        margin-bottom: -15px;
    }
    #shiv_container8 {
        width: 430px;
        margin: auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 30px;
        line-height: 20px;
    }
    
    #shiv_container8>button {
        width: 97%;
        padding: 15px;
        margin: 8px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    #shiv_container8>button:nth-child(2) {
        color: #222525;
        background-color: whitesmoke;
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #shiv_container8>button:nth-child(2):hover {
        color: teal;
        background-color: rgb(220, 217, 217);
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #shiv_container8>button>img {
        width: 5%;
        margin-right: 5px;
    }
    
    #shiv_name,
    #shiv_email,
    #shiv_company,
    #shiv_password,
    #shiv_cpassword {
        width: 90%;
        padding: 16px;
        margin: 7px;
        border: 0.5px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }
    
    #shiv_employees,
    #shiv_phone {
        width: 38%;
        padding: 16px;
        margin: 7px;
        border: 0.5px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }
    
    ul {
        font-family: centra_no2book;
        color: #4f5151;
    }
}

@media all and (min-width:576px) and (max-width:768px){
    #shiv_container1,
    #shiv_container2,
    #shiv_container3,
    #shiv_container4,
    #shiv_container5,
    #shiv_container6,
    #shiv_container7,
    #shiv_container9 {
        width: 400px;
        margin: auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 30px;
    }
    
    #shiv_container2,
    #shiv_container3,
    #shiv_container4,
    #shiv_container5,
    #shiv_container6,
    #shiv_container7,
    #shiv_container8 {
        display: none;
    }

    #shiv_header {
        width: 550px;
        margin: auto;
        line-height: 25px;
        padding: 30px;
    }
    #shiv_header>h1{
        margin-bottom: -15px;
    }
    #shiv_navbar>img {
        margin: 20px;
        width: 100px;
        margin-left: 45%;
    }
    #shiv_container8 {
        width: 430px;
        margin: auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 30px;
        line-height: 20px;
    }
    
    #shiv_container8>button {
        width: 97%;
        padding: 15px;
        margin: 8px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    #shiv_container8>button:nth-child(2) {
        color: #222525;
        background-color: whitesmoke;
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #shiv_container8>button:nth-child(2):hover {
        color: teal;
        background-color: rgb(220, 217, 217);
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #shiv_container8>button>img {
        width: 5%;
        margin-right: 5px;
    }
    
    #shiv_name,
    #shiv_email,
    #shiv_company,
    #shiv_password,
    #shiv_cpassword {
        width: 90%;
        padding: 16px;
        margin: 7px;
        border: 0.5px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }
    
    #shiv_employees,
    #shiv_phone {
        width: 38%;
        padding: 16px;
        margin: 7px;
        border: 0.5px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }
    
    ul {
        font-family: centra_no2book;
        color: #4f5151;
    }
}

@media all and (min-width:320px) and (max-width:576px){
    #shiv_container1,
    #shiv_container2,
    #shiv_container3,
    #shiv_container4,
    #shiv_container5,
    #shiv_container6,
    #shiv_container7,
    #shiv_container9 {
        width: 60%;
        margin: auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 30px;
        font-size: 10px;
    }
    h1{
        font-size: 20px;
    }
    #shiv_container2,
    #shiv_container3,
    #shiv_container4,
    #shiv_container5,
    #shiv_container6,
    #shiv_container7,
    #shiv_container8 {
        display: none;
    }

    #shiv_header {
        width: 100%;
        margin: auto;
        line-height: 25px;
        padding: 30px;
        font-size: 22px;
    }
    #shiv_header>h1{
        margin-bottom: -15px;
        
    }
    #shiv_navbar>img {
        margin: 20px;
        width: 100px;
        margin-left: 45%;
    }
    #shiv_container8 {
        width: 60%;
        margin: auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 30px;
        line-height: 20px;
    }
    
    #shiv_container8>button {
        width: 97%;
        padding: 15px;
        margin: 8px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    #shiv_container8>button:nth-child(2) {
        color: #222525;
        background-color: whitesmoke;
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #shiv_container8>button:nth-child(2):hover {
        color: teal;
        background-color: rgb(220, 217, 217);
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #shiv_container8>button>img {
        width: 20px;
        margin-right: 5px;
    }
    
    #shiv_name,
    #shiv_email,
    #shiv_company,
    #shiv_password,
    #shiv_cpassword {
        width: 90%;
        padding: 16px;
        margin: 7px;
        border: 0.5px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }
    
    #shiv_employees,
    #shiv_phone {
        width: 38%;
        padding: 16px;
        margin: 7px;
        border: 0.5px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }
    
    ul {
        font-family: centra_no2book;
        color: #4f5151;
    }
}
@media all and (min-width:150px) and (max-width:320px){
    #shiv_container1,
    #shiv_container2,
    #shiv_container3,
    #shiv_container4,
    #shiv_container5,
    #shiv_container6,
    #shiv_container7,
    #shiv_container9 {
        width: 90%;
        margin: auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 30px;
        font-size: 10px;
    }
    h1{
        font-size: 20px;
    }
    #shiv_container2,
    #shiv_container3,
    #shiv_container4,
    #shiv_container5,
    #shiv_container6,
    #shiv_container7,
    #shiv_container8 {
        display: none;
    }

    #shiv_header {
        width: 100%;
        margin: auto;
        line-height: 25px;
        padding: 30px;
        font-size: 22px;
    }
    #shiv_header>h1{
        margin-bottom: -15px;
        
    }
    #shiv_navbar>img {
        margin: 20px;
        width: 100px;
        margin-left: 45%;
    }
    #shiv_container8 {
        width: 60%;
        margin: auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 30px;
        line-height: 20px;
    }
    
    #shiv_container8>button {
        width: 97%;
        padding: 15px;
        margin: 8px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    #shiv_container8>button:nth-child(2) {
        color: #222525;
        background-color: whitesmoke;
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #shiv_container8>button:nth-child(2):hover {
        color: teal;
        background-color: rgb(220, 217, 217);
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #shiv_container8>button>img {
        width: 20px;
        margin-right: 5px;
    }
    
    #shiv_name,
    #shiv_email,
    #shiv_company,
    #shiv_password,
    #shiv_cpassword {
        width: 90%;
        padding: 16px;
        margin: 7px;
        border: 0.5px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }
    
    #shiv_employees,
    #shiv_phone {
        width: 38%;
        padding: 16px;
        margin: 7px;
        border: 0.5px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }
    
    ul {
        font-family: centra_no2book;
        color: #4f5151;
    }
}