#shiv_navbar {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin: -10px -10px 0px -10px;
}

#shiv_navbar>img {
    margin: 50px;
    width: 100px;
}

#shiv_navbar>p {
    margin-right: 30px;
}

span {
    color: teal;
}
u:hover{
    cursor: pointer;
}
h1 {
    font-family: clearfacebold;
    color: #222525;
    font-size: 40px;
}

p,button,select,option {
    font-family: centra_no2book;
    color: #222525;
    font-size: 18px;
}

#shiv_middle {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#shiv_middle_left {
    width: 40%;
    margin: 50px;
    line-height: 25px;
}
#shiv_middle_left>div:first-child>img{
    width: 50px;
}
#shiv_middle_left>div:nth-child(2){
    margin-top: 50px;
    margin-bottom: 50px;
}
#shiv_middle_left>div:nth-child(3){
    width: 80%;
}
#shiv_middle_left>div:nth-child(4){
    margin-top: 50px;
    margin-bottom: 50px;
}
#shiv_middle_left>div:nth-child(4)>button{
    padding: 15px 40px;
    color: white;
    background-color: #ef523c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#shiv_middle_left>div:nth-child(4)>button:hover{
    padding: 15px 40px;
    color: white;
    background-color: #f45d48;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#shiv_middle_left>div:nth-child(5)>button{
    padding: 15px 25px;
    color: white;
    background-color: #ef523c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#shiv_middle_left>div:nth-child(5)>button:hover{
    padding: 15px 25px;
    color: white;
    background-color: #f45d48;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#shiv_middle_right {
    width: 45%;
    margin-right: -10px;
}

#shiv_middle_right>img {
    width: 100%;
}
select{
    width: 80%;
    padding: 15px;
    background-color: white;
    border-color: teal;
    border-radius: 3px;
    outline: none;
}
select>option{
    font-weight: bold;
}
#xyz{
    display: none;
}

@media all and (min-width:768px) and (max-width:1000px){
    #shiv_middle_right>img {
        display: none;
    }
    h1{
        width: 75%;
        line-height: 50px;
    }
}

@media all and (min-width:300px) and (max-width:768px){
    #shiv_middle_right>img {
        display: none;
    }
    h1{
        width: 250%;
        font-size: 30px;
        line-height: 50px;
    }
    p{
        width:200%;
    }
}

@media all and (min-width:0px) and (max-width:300px){
    #shiv_middle_right>img {
        display: none;
    }
    h1{
        width: 50%;
        font-size: 25px;
        line-height: 30px;
    }
    p{
        width: 200%;
    }
}