*{
    margin: 0;
    padding: 0;

}

h1,h2,h3,h4,h5,h6{
    font-family: 'clearfacebold';
    color: #222525;
}

p,a,li,strong{
    font-family: 'centra_no2book';
}

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
    height: 75px;
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: white;
    
}

#mod_ben{
    display: flex;
    height: 71.5vh;
    width: 100%;
}

/* #text_ben{
   
    border: 1px solid orange;
} */

/* #text_ben1{
    width: 70%;
    margin-left: 15%;
} */

#text_inner{
    width: 67%;
    /* margin: 42px 16.4%; */
    margin: 42px 8.2%;
    margin-right:7.3%;
    /* border: 1px solid red; */
}

#text_inner>p:first-child{
    font-size: 16px;
    color: #F45D48;
    letter-spacing: .6px;
    margin-bottom: 21px;
}

#text_inner>h1{
    font-size: 2.6em;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

#text_inner>p:nth-child(3){
   font-size: 18px;
   margin-right: 8%;
   line-height: 26px;
   letter-spacing: .6px;
   margin-bottom: 35px;
}

#mod_signup{
    padding: 15px 22px;
    font-size: 16px;
    color: white;
    background-color: #F45D48;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

#img_ben{
    width: 100%;
    
}

#img_ben>img{
    width: 100%;
    height: 100%;
}

#bigbox{
    background-color: #ebeceb;
}

#bigboxd1{
    border: 1px solid #ebeceb;
    width: 95%;
    margin: auto;
    margin-bottom: 32px;
}

#bigbox1inner{
    width: 40%;
    margin-top: 5.6%;
    margin-left: 6%;
}

#bigbox1inner>p>strong{
    font-size: 1em;
    color: #F45D48;
}

#bigbox1inner>p{
    margin-bottom: 20px;
}

#bigbox1inner>h2{
    font-size: 2.4rem;
    margin-bottom: 27px;
}

#smalldiv{
    display: flex;
    width: 68%;
    justify-content: space-between;
}

.smallDivs{
    display: flex;
    border: 1px solid gray;
    border-radius: 50px;
    font-size: .6rem;
    font-weight: bolder;
    padding: 6.6px 18px;
    letter-spacing: .6px;
    justify-content: center;
    color: gray;
}

#smallDivbtn1{
    background-color: #0A8080;
    color: white;
}

#maindiv1{
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    background-color: #FDFEFF;
    width: 82%;
    margin: auto;
    display: flex;
    border-radius: 20px;
    height: 66vh;
    margin-bottom: 12px;
}

.smalldiv1{
    font-size: 9px;
    letter-spacing: 1px;
    color: gray;
    background-color: #ebeceb;
    width: 10%;
    padding: 10px;
    margin-left: 83%;
    margin-top: 22px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#wallet1{
    width: 63%;
}

#wallet2{
    width: 80%;
    margin-left: 7%;
}

#wallet2>img{
    width: 100%;
    margin-top: -300px;
 }


#wallet1>h4{
    font-size: 1.5rem;
    margin-top: 32px;
    margin-left: 35px;
    margin-bottom: 32px;
    
}

#wallet1>p:nth-child(2){
    margin-left:35px ;
    line-height: 24px;
}

#wallet1>p:nth-child(3){
    margin-top: 47%;
    margin-left: 35px;
    
}

#wallet1>p:nth-child(3)>a{
    color: #0A8080;
    font-weight: 500;
}


#maindiv2{
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    width: 82%;
    margin: auto;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    margin-bottom: 12px;
}

#fbox1{
    width: 49.3%;
    background-color: #FDFEFF;
    border-radius: 20px;
    display: flex;
}

#fbox1inner1{
    width: 50%;
    position: relative;
}

#fbox1inner1>h4{
    font-size: 1.5rem;
    margin: 32px 20px 30px 35px;
}

#fbox1inner1>p{
    font-size: 1rem;
    margin-left: 35px;
    line-height: 25px;
}


#smalldiv123{
    padding: 8px 24px;
    font-size: 9px;
    letter-spacing: 1px;
    margin-left: 90%;
    font-weight: bold;
}

#plusBtn1{
    display: flex;
    font-weight: bold;
    margin-left: 18px;
    width: 30px;
    border-radius: 100%;
    margin-top: 34%;
    font-size: 32px;
    color: gray;
    border: 2px solid gray;
    height:30px;
    justify-content:center;
}

#plusBtn1>p{
    margin-top: 0px;
}

#fbox1inner2{
    margin-left: 5%;
}

#fbox1inner2>img{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

#backsidefbox1{
    display: flex;
    width: 49.3%;
    background-color: #FDFEFF;
    border-radius: 20px;
    background-color: #0A8080;
}

#inside1{
    width: 72%;
    
}

#inside1>h4{
    font-size: 1.5rem;
    margin: 32px 20px 30px 35px;
    color: white;
}

#inside1>p{
    font-size: 1rem;
    margin-left: 35px;
    line-height: 25px;
    margin-bottom: 80px;
    color: white;
}

#crossBtn1{
    display: flex;
    font-weight: bold;
    margin-left: 18%;
    width: 30px;
    border-radius: 100%;
    margin-top: 34%;
    font-size: 22px;
    color: white;
    border: 2px solid white;
    height:30px;
    justify-content:center;
}

#crossBtn1>p{
    margin-top: 3px;
}

/* #fbox1{
                                          
}*/
/* display none property will apply here */


#backsidefbox1{
    display: none;                        /* when for above div's display none property will apply this div's display will flex */
}

#fbox2{
    width: 49.3%;
    background-color: #FDFEFF;
    border-radius: 20px;
}

#fbox2>h4{
    font-size: 1.5rem;
    margin: 32px 20px 30px 35px;
}

#fbox2>p{
    margin-left: 30px;
    margin-top: -1%;
}

#fbox2>p>a{
    color: #0A8080;
}

#fbox2smalldiv{
    margin-top: -12%;
}

#svgtag{
    color: #0A8080;
    font-size: 7rem;
    margin-left: 30%;
    margin-top: 6%;
    font-weight: normal;
    letter-spacing: 10px;
}


#maindiv3{
    width: 82%;
    margin: auto;
    display: flex;
    background-color: #FDFEFF;
    border-radius: 20px;
    margin-bottom: 14px;
}

#healthdiv{
    width: 45%;
}

#healthdiv>h4{
    font-size: 1.5rem;
    margin: -25px 20px 30px 35px;
}

#healthdiv>p{
    font-size: 1rem;
    margin-left: 35px;
    line-height: 25px;
}

#healthImg{
    width: 50%;
}

#healthImg>video{
    width: 92%;
    margin-top: 20px;
}

#healthatag{
    margin-left: -85%;
    margin-bottom: 8%;
}

#healthatag>a{
    color: #0A8080;
}

#healthsmalldiv{
    margin-left: 203%;

}

#maindiv4{
    background-color: #FDFEFF;
    width: 40%;
    border-radius: 20px;
    margin-left: 9%;
}

#maindiv4>h4{
    font-size: 1.5rem;
    margin-left: 35px;
    padding-top: 30px;
}

#maindiv4>p{
    margin-left: 35px;
    margin-bottom: 50px;
    padding-bottom:15%;
}

#compensmalldiv{
    margin-top: -7%;
    margin-bottom: 8%;
}

#maindiv5{
    background-color: #FDFEFF;
    width: 41%;
    border-radius: 20px;
    margin-left: 9%;
    margin-left: 50%;
    margin-top: -18.5%;
}

#maindiv5>h4{
    font-size: 1.5rem;
    margin-left: 35px;
    padding-top: 30px;
    position: relative;

}

#maindiv5img{
    width: 63%;
    margin-left: 20%;
    margin-top: 16px;
}

#maindiv5img>img{
    width: 100%;
    margin-bottom: 11%;
}

#maindiv5small{
    margin-top: -7%;
}

#plusBtn2{
    display: flex;
    font-weight: bold;
    margin-left: 36.5%;
    margin-top: -4%;
    position: absolute;
    width: 30px;
    border-radius: 100%;
    font-size: 32px;
    color: gray;
    border: 2px solid gray;
    height:30px;
    justify-content:center;
}

/* #maindiv5{
    display:;
} */


#maindiv5backside{
    background-color: #FDFEFF;
    width: 41%;
    border-radius: 20px;
    margin-left: 9%;
    margin-left: 50%;
    margin-top: -18.5%;
    
}

#maindiv5backside>h4{
    font-size: 1.5rem;
    padding: 30px 10px 35px 36px;
}

#maindiv5backside>p{
    font-size: 1rem;
    padding-left: 35px;
    padding-bottom: 36%;
}

#crossBtn2{
    display: flex;
    font-weight: bold;
    margin-left: 36.5%;
    margin-top: -4.1%;
    position: absolute;
    width: 30px;
    border-radius: 100%;
    font-size: 22px;
    color: gray;
    border: 2px solid gray;
    height:30px;
    justify-content:center;
}

#crossBtn2>p{
    margin-top: 3px;
}

#maindiv5backside{
    display:none;   
}

#maindiv6{
    background-color: #FDFEFF;
    width: 40%;
    border-radius: 20px;
    margin-left: 9%;
    margin-top: -8.5%;
    height: 53vh;
    margin-bottom: 12px;
}

#maindiv6>h4{
    font-size: 1.5rem;
    padding: 30px 20px 40px 35px;
}

#maindiv6small{
    margin-top: -14%;
    margin-bottom: 30px;
}

#maindiv6>img{
    width: 93%;
    margin-left: 20px;
}


#plusBtn3{
    display: flex;
    font-weight: bold;
    margin-left: 36.5%;
    margin-top: -10%;
    position: absolute;
    width: 30px;
    border-radius: 100%;
    font-size: 32px;
    color: gray;
    border: 2px solid gray;
    height:30px;
    justify-content:center;
}

/* #maindiv6{
    display: ;
} */

#maindiv6backside{
    background-color: #FDFEFF;
    width: 40%;
    border-radius: 20px;
    margin-left: 9%;
    margin-top: -8.5%;
    height: 53vh;
    color: white;
    background-color: #0A8080;
    margin-bottom: 12px;
}

#maindiv6backside>h4{
    font-size: 1.5rem;
    padding: 30px 10px 35px 32px;
    color: white;
}

#maindiv6backside>p:nth-child(2){
    padding-left: 32px;
    line-height: 24px;
    padding-right: 10px;
    padding-bottom: 30px;
}

#maindiv6backside>p:nth-child(3){
    padding-left: 32px;
    line-height: 24px;
    padding-right: 10px;
    padding-bottom: 60px;
}

#maindiv6backside>p:nth-child(4){
    padding-left: 32px;
}

#maindiv6backside>p:nth-child(4)>a{
    color: white;
}




#crossBtn3{
    display: flex;
    font-weight: bold;
    margin-left: 36.5%;
    margin-top: -1%;
    position: absolute;
    width: 30px;
    border-radius: 100%;
    font-size: 22px;
    color: white;
    border: 2px solid white;
    height:30px;
    justify-content:center;
}

#crossBtn3>p{
    margin-top: 3px;
}

#maindiv6backside{
    display: none;
}


#maindiv7{
    width: 41.3%;
    background-color: #ebeceb;
    display: flex;
    margin-left: 50%;
    margin-top: -16%;
    margin-bottom: 12px;
    justify-content: space-between;
}

#childDiv1{
    background-color: #FDFEFF;
    border-radius: 20px;
    width: 49%;
}

#childDiv1>h4{
    font-size: 1.5rem;
    padding: 30px 5px 10px 32px;
}

#childdiv1small{
    margin-top: -19%;
    margin-left: 70%;
    margin-bottom: 40px;
    padding: 8px 20px;
}

#childDiv1>img{
    margin-left: 40%;
    margin-bottom: 53px;
    width: 30%;
}


#childDiv2{
    background-color: #FDFEFF;
    border-radius: 20px;
    width: 49%;
}


#childDiv2>h4{
    font-size: 1.5rem;
    padding: 30px 5px 10px 32px;
}

#childdiv2small{
    margin-top: -19%;
    margin-left: 70%;
    margin-bottom: 40px;
    padding: 8px 20px;
}

#childDiv2>img{
    margin-left: 40%;
    margin-bottom: 53px;
    width: 30%;
}


#maindiv8{
    background-color: #FDFEFF;
    width: 40.3%;
    border-radius: 20px;
    margin-left: 9%;
    margin-bottom: 12px;
    position: absolute;
}

#maindiv8>h4{
    font-size: 1.5rem;
    padding: 30px 5px 10px 32px;
}

#maindiv8small{
    margin-top: -9%;
    margin-bottom: 50px;
}

#maindiv8>p{
    padding-left: 30px;
    line-height: 24px;
    padding-bottom: 80px;
}

#maindiv9{
    background-color: #FDFEFF;
    width: 41%;
    border-radius: 20px;
    margin-left: 50%;
    height: 53vh;
}


#maindiv9>h4{
    font-size: 1.5rem;
    padding: 30px 5px 10px 32px;
}

#maindiv9small{
    margin-top: -9%;
    margin-bottom: 20px;
}

#maindiv9img>img{
    width: 75%;
    margin-left: 25.5%;
}

#maindiv9img>p{
    margin-left: 32px;
    margin-top: -11%;

}

#maindiv9img>p>a{
    color: #0A8080;
}

#maindiv10{
    background-color: #FDFEFF;
    width: 40%;
    border-radius: 20px;
    margin-left: 9%;
    margin-bottom: 12px;
    margin-top: -8.8%;
}

#maindiv10>h4{
    font-size: 1.5rem;
    padding: 35px 5px 5px 32px;
}

#maindiv10small{
    margin-top: -8.8%;
    margin-bottom: 53px;
}

#maindiv10>img{
    width: 72.5%;
    margin-left: 80px;
    margin-bottom: 43px;
}


#maindiv11{
    background-color: #FDFEFF;
    width: 41%;
    border-radius: 20px;
    margin-left: 50%;
    margin-top: -16.2%;
}

#maindiv11>h4{
    font-size: 1.5rem;
    padding: 35px 5px 5px 35px;
}

#maindiv11small{
    margin-top: -9%;
    margin-bottom: 48px;
}

#maindiv11>p{
    margin-left: 35px;
    line-height: 24px;
    padding-bottom: 14.7%;
}

#below_lines{
    width: 100%;
    margin: auto;
}


#below_line1{
    text-align: center;
    color: #6c6c72;
    margin-top: 3%;
    font-size: .9rem;
    margin-bottom: 2.1%;
}

#below_line2{
    text-align: center;
    color: #6c6c72;
    font-size: .9rem;
}

#below_line3{
    text-align: center;
    color: #6c6c72;
    font-size: .9rem;
    margin-top: 8px;
}

#below_line3>a{
    text-decoration: none;
    color: #0A8080;
}


#rethink{
    width: 90%;
    margin: auto;
    margin-top: 12%;
}

#rethink>h1{
    font-size: 2.3rem;
    text-align: center;
}

#think1{
    width: 50%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 4.8%;
}

#think1div1{
    background-color: #FDFEFF;
}

#think1div1>h3{
    font-size: 1.5rem;
    padding: 53px 50px 10px 50px;
}

#think1div1>p{
    padding-left: 36%;
    padding-bottom: 20%;
}

#think1div1>p>a{
    color: #0A8080;
    text-decoration: none;
}

#think1div2{
    background-color: #FDFEFF;
}

#think1div2>h3{
    font-size: 1.5rem;
    padding: 53px 50px 10px 35px;
    margin-left: 50px;
}

#think1div2>p{
    padding-left: 42%;
    padding-bottom: 20%;
}

#think1div2>p>a{
    color: #0A8080;
    text-decoration: none;
}

#think1div1:hover, #think1div2:hover{
    border-bottom: 4px solid orange;
}

#benefit_palns{
    width: 85%;
    display: flex;
    margin: auto;
    margin-top: 6%;
    justify-content: space-around;
}

#plan1{
    width: 30%;
}

#plan1>p:first-child{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 21%;
    letter-spacing: 1px;
}

#plan1>p:nth-child(2){
    /* padding: 30px 73px; */
    text-align: center;
    margin-top: 32px;
}

#plan1>p:nth-child(3){
    text-align: center;
    margin-top: 10px;
    margin-bottom: 33%;
}

#plan2{
    width: 30%;
}

#plan2>p:first-child{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 21%;
    letter-spacing: 1px;
}

#plan2>p:nth-child(2){
    /* padding: 30px 73px; */
    text-align: center;
    margin-top: 32px;
}

#plan2>p:nth-child(3){
    text-align: center;
    margin-top: 10px;
}

#plan3{
    width: 30%;
    
}

#plan3>p:first-child{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 21%;
    letter-spacing: 1px;
}

#plan3>p:nth-child(2){
    /* padding: 30px 73px; */
    text-align: center;
    margin-top: 32px;
}

#plan3>p:nth-child(3){
    text-align: center;
    margin-top: 10px;
}


#founder_say{
    width: 90%;
    margin: auto;
    margin-top: 13.1%;
}


#saying1>h4{
    text-align: center;
    font-size: 1.52rem;
    margin-bottom: 4px;
}

#founder_img{
    width: 45%;
    display: flex;
    margin: auto;
    margin-top: 16px;
}

#own_image{
    width: 15%;
}


#own_image>img{
    width: 80%;
    margin-left:20%;
}

#signature{
    width: 45%;
    border: 1px solid gray;
    border-left: none;
    margin-top: 12px;
    height: 47px;
    
}

#signature>img{
    width: 80%;
    margin-left: 20px;
}

#founder_pos{
    display: flex;
    width: 40%;
    font-size: 14px;
    margin-top: 12px;
    height: 47px;
    text-align: center;
    padding-left: 18px;
    align-items: center;
    border: 1px solid gray;
    border-right: none;
}


#complianceDiv{
    background-color: #0A8080;
    display: flex;
    width: 100%;
    margin-top: 12%;
}

#compliance1{
    width: 25.5%;
    margin-left: 10.7%;
    color: white;
    border-right: .5px solid white;
}

#compliance1>h6{
    font-size: 1.25rem;
    color: white;
    margin-top: 21%;
    text-align: center;
}

#compliance1>img{
    margin-left: 39%;
    margin-top: 47px;
    width: 16%;
    margin-bottom: 29px;
}

#compliance1>p{
    text-align: center;
    margin-bottom: 6px;
}

#compliance1>p:last-child{
    margin-bottom: 26.6%;
}

#compliance2{
    width: 25.5%;
    border-right: .5px solid white;
    margin-left: 28px;
    color: white;
}

#compliance2>h6{
    font-size: 1.25rem;
    color: white;
    margin-top: 21%;
    text-align: center;
}

#compliance2>img{
    margin-left: 39%;
    margin-top: 47px;
    width: 16%;
    margin-bottom: 29px;
}

#compliance2>p{
    text-align: center;
    margin-bottom: 6px;
}


#compliance3{
    width: 25.5%;
    margin-left: 28px;
    color: white;
}

#compliance3>h6{
    font-size: 1.25rem;
    color: white;
    margin-top: 21%;
    text-align: center;
}

#compliance3>img{
    margin-left: 39%;
    margin-top: 47px;
    width: 16%;
    margin-bottom: 29px;
}

#compliance3>p{
    text-align: center;
    margin-bottom: 6px;
}


#right_benefit_div{
    display: flex;
    width: 100%;
    margin-top: 5.1%;
}

#right1{
    width: 35%;
    margin-left: 9.1%;
    margin-right: 22px;
}

#right1>strong{
    color: #F45D48;
}

#right1>h2{
    margin-top: 21px;
    font-size: 2.3rem;
}

#right2{
    width: 55%;
    display: flex;
}

#rightInnerDiv1{
    width: 29%;
    margin-top: 7%;
    margin-bottom: 13%;
}

#rightInnerDiv1>p{
    margin-bottom: 30px;
}

#rightInnerDiv1>p>a{
    color: black;
    text-decoration: none;
}

#rightInnerDiv1>p>a:hover{
    color: #0A8080;
}


#rightInnerDiv2{
    width: 28%;
    margin-top: 7%;
}

#rightInnerDiv2>p{
    margin-bottom: 30px;
    
}

#rightInnerDiv2>p>a{
    color: black;
    text-decoration: none;
}

#rightInnerDiv2>p>a:hover{
    color: #0A8080;
}


#rightInnerDiv3{
    width: 30%;
    margin-top: 7%;
}

#rightInnerDiv3>p{
    margin-bottom: 30px;
}

#rightInnerDiv3>p>a{
    color: black;
    text-decoration: none;
}

#rightInnerDiv3>p>a:hover{
    color: #0A8080;
}


#platform_div{
    background-color: #F8F5F2;
    width: 100%;

}

#platform1{
    width: 12%;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: end;
    padding-top: 6.5%;
}

#platform1>p>strong{
    color: #F45D48;
}

#platform2{
    width: 50%;
    margin: auto;
    margin-top: 1.3%;    
}

#platform2>h2{
    font-size: 2rem;
}

#platform3{
    width: 40%;
    margin: auto;
    margin-top: 1.6%;
}

#platform3>p:first-child{
    line-height: 24px;
}

#platform3>p:last-child{
    margin-top: 28px;
    text-align: center;
}

#platform3>p:last-child>a{
    color: #0A8080;
    text-decoration: none;
}

#platform3>p:last-child>a:hover{
    text-decoration: underline;
}

#platform4{
    width: 54%;
    display: flex;
    margin: auto;
    margin-top: 4.7%;
    justify-content: space-between;
}

.platform_img{
    width: 13%;
    margin: auto;
    margin-bottom: 19%;
}

.platform_img>img{
    width: 55%;
    margin-bottom: 12px;
    margin-left: 20px;
}

.platform_img>p{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #222525;
}

.platform_img>p>a{
    color: #222525;
    text-decoration: none;
}


#frequntlyQues{
    width: 100%;
    border: 1px solid red;
}

#frequently_asked{
    width: 40%;
    margin-left: 8.1%;
    border: 1px solid indigo;
}

#frequently_asked>h2{
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-top: 13.5%;
}

#frequently_asked>h3{
    font-size: 1.5rem;
    margin-top: 7.2%;
    margin-bottom: 20px;

}

#frequently_asked>p{
    font-size: 18px;
    padding-right: 22px;
    line-height: 24px;
}

#frequently_asked>p>a{
    color: #0A8080;
}
