.lowcostsmalldiv1{
    font-size: 9px;
    letter-spacing: 1px;
    color: gray;
    background-color: #ebeceb;
    width: 10%;
    padding: 10px;
    margin-left: 83%;
    margin-top: 22px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#lowcostmaindiv4{
    background-color: #FDFEFF;
    width: 40%;
    border-radius: 20px;
    margin-left: 9%;
}

#lowcostmaindiv4>h4{
    font-size: 1.5rem;
    margin-left: 35px;
    padding-top: 30px;
}

#lowcostmaindiv4>p{
    margin-left: 35px;
    margin-bottom: 50px;
    padding-bottom:15%;
}

#lowcostcompensmalldiv{
    margin-top: -7%;
    margin-bottom: 8%;
}

#lowcostmaindiv5{
    background-color: #FDFEFF;
    width: 41%;
    border-radius: 20px;
    margin-left: 9%;
    margin-left: 50%;
    margin-top: -18.5%;
}

#lowcostmaindiv5>h4{
    font-size: 1.5rem;
    margin-left: 35px;
    padding-top: 30px;
    position: relative;

}

#lowcostmaindiv5img{
    width: 63%;
    margin-left: 20%;
    margin-top: 16px;
}

#lowcostmaindiv5img>img{
    width: 100%;
    margin-bottom: 11%;
}

#lowcostmaindiv5small{
    margin-top: -7%;
}

#lowcostplusBtn2{
    display: flex;
    font-weight: bold;
    margin-left: 36.5%;
    margin-top: -4%;
    position: absolute;
    width: 30px;
    border-radius: 100%;
    font-size: 32px;
    color: gray;
    border: 2px solid gray;
    height:30px;
    justify-content:center;
}

#lowcostplusBtn2:hover{
    cursor: pointer;
}


#lowcost_maindiv5backside{
    background-color: #FDFEFF;
    width: 41%;
    border-radius: 20px;
    margin-left: 9%;
    margin-left: 50%;
    margin-top: -18.5%;
    background-color: #0A8080;
    
}

#lowcost_maindiv5backside>h4{
    font-size: 1.5rem;
    padding: 30px 10px 35px 36px;
    color: white;
}

#lowcost_maindiv5backside>p{
    font-size: 1rem;
    padding-left: 35px;
    padding-bottom: 36%;
    color: white;
}

#lowcostcrossBtn2{
    display: flex;
    font-weight: bold;
    margin-left: 36.5%;
    margin-top: -4.1%;
    position: absolute;
    width: 30px;
    border-radius: 100%;
    font-size: 22px;
    color: white;
    border: 2px solid white;
    height:30px;
    justify-content:center;
}

#lowcostcrossBtn2:hover{
    cursor: pointer;
}

#lowcostcrossBtn2>p{
    margin-top: 3px;
}

#lowcostmaindiv10{
    background-color: #FDFEFF;
    width: 40%;
    border-radius: 20px;
    margin-left: 9%;
    margin-bottom: 12px;
    margin-top: -8.8%;
}

#lowcostmaindiv10>h4{
    font-size: 1.5rem;
    padding: 35px 5px 5px 32px;
}

#lowcostmaindiv10small{
    margin-top: -8.8%;
    margin-bottom: 53px;
}

#lowcostmaindiv10>img{
    width: 72.5%;
    margin-left: 80px;
    margin-bottom: 43px;
}

#lowcostmaindiv5{
    display:block;
}

#lowcost_maindiv5backside{
    display:none;   
}

                                               /* NO-COST Filteration starts form here */


 .nocostsmalldiv1{
    font-size: 9px;
    letter-spacing: 1px;
    color: gray;
    background-color: #ebeceb;
    width: 10%;
    padding: 10px;
    margin-left: 83%;
    margin-top: 22px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}                                               
                                               
#nocostmaindiv1{   
    background-color: #FDFEFF;
    width: 82%;
    margin: auto;
    display: flex;
    border-radius: 20px;
    height: 67vh;
    margin-bottom: 12px;
}                       

#nocostwallet1{
    width: 63%;
}

#nocostwallet2{
    width: 80%;
    margin-left: 7%;
}

#nocostwallet2>img{
    width: 100%;
    margin-top: -300px;
 }


#nocostwallet1>h4{
    font-size: 1.5rem;
    margin-top: 32px;
    margin-left: 35px;
    margin-bottom: 32px;
    
}

#nocostwallet1>p:nth-child(2){
    margin-left:35px ;
    line-height: 24px;
}

#nocostwallet1>p:nth-child(3){
    margin-top: 47%;
    margin-left: 35px;
    
}

#nocostwallet1>p:nth-child(3)>a{
    color: #0A8080;
    font-weight: 500;
}


#nocostmaindiv6{
    background-color: #FDFEFF;
    width: 40%;
    border-radius: 20px;
    margin-left: 9%;
    height: 53vh;
    margin-bottom: 12px;
}

#nocostmaindiv6>h4{
    font-size: 1.5rem;
    padding: 30px 20px 40px 35px;
}

#nocostmaindiv6small{
    margin-top: -14%;
    margin-bottom: 30px;
}

#nocostmaindiv6>img{
    width: 93%;
    margin-left: 20px;
}


#nocostplusBtn3{
    display: flex;
    font-weight: bold;
    margin-left: 36.5%;
    margin-top: -10%;
    position: absolute;
    width: 30px;
    border-radius: 100%;
    font-size: 32px;
    color: gray;
    border: 2px solid gray;
    height:30px;
    justify-content:center;
}

#nocostplusBtn3:hover{
    cursor: pointer;
}

#nocost_maindiv6backside{
    background-color: #FDFEFF;
    width: 40%;
    border-radius: 20px;
    margin-left: 9%;
    height: 53vh;
    color: white;
    background-color: #0A8080;
    margin-bottom: 12px;
}

#nocost_maindiv6backside>h4{
    font-size: 1.5rem;
    padding: 30px 10px 35px 32px;
    color: white;
}

#nocost_maindiv6backside>p:nth-child(2){
    padding-left: 32px;
    line-height: 24px;
    padding-right: 10px;
    padding-bottom: 30px;
}

#nocost_maindiv6backside>p:nth-child(3){
    padding-left: 32px;
    line-height: 24px;
    padding-right: 10px;
    padding-bottom: 60px;
}

#nocost_maindiv6backside>p:nth-child(4){
    padding-left: 32px;
}

#nocost_maindiv6backside>p:nth-child(4)>a{
    color: white;
}




#nocostcrossBtn3{
    display: flex;
    font-weight: bold;
    margin-left: 36.5%;
    margin-top: -1%;
    position: absolute;
    width: 30px;
    border-radius: 100%;
    font-size: 22px;
    color: white;
    border: 2px solid white;
    height:30px;
    justify-content:center;
}

#nocostcrossBtn3:hover{
    cursor: pointer;
}

#nocostcrossBtn3>p{
    margin-top: 3px;
}

#nocost_maindiv6backside{
    display: none;
}


#nocostmaindiv8{
    background-color: #FDFEFF;
    width: 41%;
    border-radius: 20px;
    margin-left: 50%;
    margin-top: -25.7%;
    margin-bottom: 12px;
    position: absolute;
}

#nocostmaindiv8>h4{
    font-size: 1.5rem;
    padding: 30px 5px 10px 32px;
}

#nocostmaindiv8small{
    margin-top: -9%;
    margin-bottom: 50px;
}

#nocostmaindiv8>p{
    padding-left: 30px;
    line-height: 24px;
    padding-bottom: 80px;
}

#nocostmaindiv9{
    background-color: #FDFEFF;
    width: 41%;
    border-radius: 20px;
    margin-left: 50%;
    margin-top: -9.7%;
    height: 53vh;
}


#nocostmaindiv9>h4{
    font-size: 1.5rem;
    padding: 30px 5px 10px 32px;
}

#nocostmaindiv9small{
    margin-top: -9%;
    margin-bottom: 20px;
}

#nocostmaindiv9img>img{
    width: 75%;
    margin-left: 25.5%;
}

#nocostmaindiv9img>p{
    margin-left: 32px;
    margin-top: -11%;

}

#nocostmaindiv9img>p>a{
    color: #0A8080;
}


#nocostmaindiv11{
    background-color: #FDFEFF;
    width: 40.3%;
    border-radius: 20px;
    margin-left: 9%;
    margin-top: -15%;
    position: absolute;
}

#nocostmaindiv11>h4{
    font-size: 1.5rem;
    padding: 35px 5px 5px 35px;
}

#nocostmaindiv11small{
    margin-top: -9%;
    margin-bottom: 48px;
}

#nocostmaindiv11>p{
    margin-left: 35px;
    line-height: 24px;
    padding-bottom: 9%;
}

#nocost_maindiv6backside{
    display: none;
}




/* PREMIUM Part start here */




.premiumsmalldiv1{
    font-size: 9px;
    letter-spacing: 1px;
    color: gray;
    background-color: #ebeceb;
    width: 10%;
    padding: 10px;
    margin-left: 83%;
    margin-top: 22px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}                                               



#premiummaindiv2{
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    width: 82%;
    margin: auto;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    margin-bottom: 12px;
}

#premiumfbox1{
    width: 49.3%;
    background-color: #FDFEFF;
    border-radius: 20px;
    display: flex;
}

#premiumfbox1inner1{
    width: 50%;
    position: relative;
}

#premiumfbox1inner1>h4{
    font-size: 1.5rem;
    margin: 32px 20px 30px 35px;
}

#premiumfbox1inner1>p{
    font-size: 1rem;
    margin-left: 35px;
    line-height: 25px;
}


#premiumsmalldiv123{
    padding: 8px 24px;
    font-size: 9px;
    letter-spacing: 1px;
    margin-left: 90%;
    font-weight: bold;
}

#premiumplusBtn1{
    display: flex;
    font-weight: bold;
    margin-left: 18px;
    width: 30px;
    border-radius: 100%;
    margin-top: 34%;
    font-size: 32px;
    color: gray;
    border: 2px solid gray;
    height:30px;
    justify-content:center;
}

#premiumplusBtn1:hover{
    cursor: pointer;
}

#premiumplusBtn1>p{
    margin-top: 0px;
}

#premiumfbox1inner2{
    margin-left: 5%;
}

#premiumfbox1inner2>img{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

#premium_backsidefbox1{
    display: flex;
    width: 49.3%;
    background-color: #FDFEFF;
    border-radius: 20px;
    background-color: #0A8080;
}

#premiuminside1{
    width: 72%;
    
}

#premiuminside1>h4{
    font-size: 1.5rem;
    margin: 32px 20px 30px 35px;
    color: white;
}

#premiuminside1>p{
    font-size: 1rem;
    margin-left: 35px;
    line-height: 25px;
    margin-bottom: 80px;
    color: white;
}

#premiumcrossBtn1{
    display: flex;
    font-weight: bold;
    margin-left: 18%;
    width: 30px;
    border-radius: 100%;
    margin-top: 34%;
    font-size: 22px;
    color: white;
    border: 2px solid white;
    height:30px;
    justify-content:center;
}

#premiumcrossBtn1:hover{
    cursor: pointer;
}

#premiumcrossBtn1>p{
    margin-top: 3px;
}



#premiumfbox2{
    width: 49.3%;
    background-color: #FDFEFF;
    border-radius: 20px;
}

#premiumfbox2>h4{
    font-size: 1.5rem;
    margin: 32px 20px 30px 35px;
}

#premiumfbox2>p{
    margin-left: 30px;
    margin-top: -1%;
}

#premiumfbox2>p>a{
    color: #0A8080;
}

#premiumfbox2smalldiv{
    margin-top: -12%;
}

#premiumsvgtag{
    color: #0A8080;
    font-size: 7rem;
    margin-left: 30%;
    margin-top: 6%;
    font-weight: normal;
    letter-spacing: 10px;
}


#premiummaindiv3{
    width: 82%;
    margin: auto;
    display: flex;
    background-color: #FDFEFF;
    border-radius: 20px;
    margin-bottom: 14px;
}

#premiumhealthdiv{
    width: 45%;
}

#premiumhealthdiv>h4{
    font-size: 1.5rem;
    margin: -25px 20px 30px 35px;
}

#premiumhealthdiv>p{
    font-size: 1rem;
    margin-left: 35px;
    line-height: 25px;
}

#premiumhealthImg{
    width: 50%;
}

#premiumhealthImg>video{
    width: 92%;
    margin-top: 20px;
}

#premiumhealthatag{
    margin-left: -85%;
    margin-bottom: 8%;
}

#premiumhealthatag>a{
    color: #0A8080;
}

#premiumhealthsmalldiv{
    margin-left: 203%;

}


#premiummaindiv7{
    width: 41.3%;
    background-color: #ebeceb;
    display: flex;
    margin-left: 9%;
    margin-bottom: 12px;
    justify-content: space-between;
}

#premiumchildDiv1{
    background-color: #FDFEFF;
    border-radius: 20px;
    width: 49%;
}

#premiumchildDiv1>h4{
    font-size: 1.5rem;
    padding: 30px 5px 10px 32px;
}

#premiumchilddiv1small{
    margin-top: -19%;
    margin-left: 70%;
    margin-bottom: 40px;
    padding: 8px 20px;
}

#premiumchildDiv1>img{
    margin-left: 40%;
    margin-bottom: 53px;
    width: 30%;
}


#premiumchildDiv2{
    background-color: #FDFEFF;
    border-radius: 20px;
    width: 49%;
}


#premiumchildDiv2>h4{
    font-size: 1.5rem;
    padding: 30px 5px 10px 32px;
}

#premiumchilddiv2small{
    margin-top: -19%;
    margin-left: 70%;
    margin-bottom: 40px;
    padding: 8px 20px;
}

#premiumchildDiv2>img{
    margin-left: 40%;
    margin-bottom: 53px;
    width: 30%;
}

#premium_backsidefbox1{
    display: none;                        
}
